* {
  margin: 0;
  padding: 0;
}

html, body, #wrap {
  height: 100%;
}

body {
  font-family:helvetica neue;
}

#wrap {

}

#header {
  height: 60px;
  width: 100%;
  display:flex;
  background: red;
}


#header #logo {
  text-align: center;
  padding:1em 0;
  border-right:1px solid #ccc;
  width:200px;
  background: #fff;
}

#navigation {
  flex: 1;
  display: flex;
  align-items: 'stretch';
  background: linear-gradient(#333, #111);
}

#navigation div {
  flex: 1;
  cursor: pointer;
  padding: 1em;
  border-right: 1px solid #555;
  font-weight: bold;
  font-size:16px;
  /*min-width:150px;*/
  text-align: center;
  letter-spacing: 2px;
  text-transform: capitalize;
  color: #555;
  background: linear-gradient(#111, #333);
}

#navigation div:after {
  content: '☐';
  margin-top:-0.1em;
  font-size:16px;
  float: right;
  font-weight: normal;
}

#navigation div:hover {
  /*background: #eee;*/
}

#navigation div.visible {
  color: white;
}

#navigation div.visible:after {
  content:'✓';
  color: rgb(50,200,50);
}

#navigation div.hidden {
  opacity:0.5;
  color: red;
}

#sidebar {
  background: linear-gradient(#222, #111);
  overflow-y: auto;
  height: 100%;
  min-width: 200px;
  color: white;
}

#sidebar #filter {
  display: flex;
}

#sidebar #filter input {
  flex: 1;
  padding: 0.5em;
}

#sidebar .item {
  padding: 12px;
  font-size:12px;
  color:#bbb;
  border-bottom: 1px solid #555;
  transition:color 0.05s linear;
  cursor: pointer;
}

#sidebar .item:hover {
  color: white;
}

#main {
  background:yellow;
  display: flex;
  height: calc(100% - 60px);
  width:100%;
}

#map {
  width: 100%;
  height: 100%;
}

#map .info_window {
  max-width: 250px;
  padding: 0.75em;
}

#map .info_window .title {
  text-align: center;
  font-weight: bold;
  padding-bottom:0.5em;
}

#map .info_window .description {
  text-align: center;
}