@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|IBM+Plex+Sans|Roboto+Slab');

* {
  margin: 0;
  padding: 0;
}

html, body, #wrap {
  height: 100%;
}

body {
  font-family:"IBM Plex Sans";
}

#wrap {
  min-width: 375px;
}

#header {
  height: 60px;
  width: 100%;
  display:flex;
}


#header #logo {
  text-align: center;
  padding:1em 0;
  border-right:1px solid #333;
  width:200px;
  color: #406d80;
  background: #193341;
  letter-spacing: 2px;
  font-family: 'Alfa Slab One';
  font-size:20px;
}

#navigation {
  flex: 1;
  display: flex;
  align-items: 'stretch';
  background: linear-gradient(#333, #111);
}

#navigation div {
  flex: 1;
  cursor: pointer;
  padding: 1.2em;
  border-right: 1px solid #555;
  font-size:15px;
  text-align: center;
  /*letter-spacing: 2px;*/
  text-transform: capitalize;
  color: #555;
  min-width:150px;
  background: linear-gradient(#111, #333);
  font-family: 'Roboto Slab';
}

#navigation div:hover {
  background: linear-gradient(#222, #444);
}

[data-icon] {
  margin-right:0.5em;
}

.visible .fa-beer {
  color: orange;
}
.visible .fa-tree {
  color: #00aa00;
}
.visible .fa-cutlery {
  color: white;
}
.visible .fa-university {
  color:purple;
}

#navigation div:after {
  content: '☐';
  font-size:16px;
  float: right;
  font-weight: normal;
}

#navigation div:hover {
  /*background: #eee;*/
}

#navigation div.visible {
  color: white;
}

#navigation div.visible:after {
  content:'✓';
  color: rgb(50,200,50);
}

#navigation div.hidden {
  opacity:0.5;
  color: red;
}

#sidebar-access {
  position: absolute;
  top: 105px;
  left: 10px;
  z-index: 99;
  padding: 0.1em 0.3em;
  background: white;
  color: #757575;
  border:1px solid #ccc;
  cursor: pointer;
  display: none;
}

#sidebar-access svg {
  margin:0 auto;
}

#sidebar {
  background: linear-gradient(#222, #111);
  overflow-y: auto;
  height: 100%;
  min-width: 200px;
  color: white;
  z-index: 99;
}

#sidebar #filter {
  display: flex;
  border-bottom:1px solid #555;
  background: #555;
}

#sidebar #filter #filter-label {
  font-size:12px;
  text-align: center;
  position: relative;
  top: 1em;
  left: 1em;
  color: #aaa;
}

#sidebar #filter input {
  flex: 0.75;
  padding: 0.5em;
  margin: 1em auto;
  background: #eee;
}

#sidebar .item {
  padding: 12px;
  font-size:12px;
  color:#bbb;
  border-bottom: 1px solid #555;
  transition:color 0.05s linear;
  cursor: pointer;
}

#sidebar .item:hover {
  color: white;
}

#main {
  background:#193341;
  display: flex;
  height: calc(100% - 60px);
  width:100%;
}

#map {
  width: 100%;
  height: 100%;
}

#map .info_window {
  max-width: 250px;
  padding: 0.75em;
  transition: height 0.2s linear;
}

#map .info_window .loading {
  font-style: italic;
  text-align: center;
  margin: 0.5em;
}


#map .info_window .title {
  text-align: center;
  font-weight: bold;
  padding-bottom:0.5em;
  font-size:1.25em;
}

#map .info_window .description {
  text-align: center;
}

.yelp-info {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.yelp-info > div {
  margin:0.5em 0;
}

.yelp-info .rating {
  color: goldenrod;
  letter-spacing:2px;
}

.yelp-info .price {
  color: green;
}

.yelp-info .image {
  text-align: center;
  min-height: 150px;
  margin: 0 auto;
}

.yelp-info .image img {
  padding:3px;
  border: 1px solid #ccc;
  background: #eee;
  display: inline-block;
  max-width:150px;
  max-height:150px;
  margin: 0 auto;
}